<footer class="footer-container">
  <p class="footer-title">© 2023 Oswaldo's Place. Todos los derechos reservados.</p>

  <p class="footer-description">
    Síguenos en nuestras redes sociales para mantenerte al tanto de nuestras novedades y promociones:
  </p>

  <div class="social-media-icons">
    <a href="https://www.facebook.com/hotelmalibu" target="_blank" class="social-icon">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/800px-Facebook_f_logo_%282019%29.svg.png" alt="Facebook" width="30" height="30">
    </a>

    <a href="https://www.instagram.com/hotel.malibu/?hl=es" target="_blank" class="social-icon">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/800px-Instagram_logo_2022.svg.png" alt="Instagram" width="30" height="30">
    </a>

    <a href="https://twitter.com/HotelMalibu_Gdl" target="_blank" class="social-icon">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Logo_of_Twitter.svg" alt="Twitter" width="30" height="30">
    </a>
  </div>
</footer>

